
<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  <div class="col-sm-3 col-xs-12" id="f_client_div" class='form-group'> 
    <label><font color="darkred">*</font>Client</label> <!-- Prod_Name -->
    <select class="form-control" id="f_client" required>
    </select>
  </div>               

  <div class="col-sm-3 col-xs-12" id="f_duration_div" class='form-group'> 
    <label><font color="darkred">*</font>Duration</label> <!-- Prod_Name -->
    <select class="form-control" id="f_duration" required>
    </select>
  </div>  

  <div class="col-sm-3 col-xs-12" id="f_term_div" class='form-group'> 
    <label><font color="darkred">*</font>Term</label> <!-- Prod_Name -->
    <select class="form-control" id="f_term" required>
    </select>
  </div>    
          

</div> <!-- /.row -->   

<div class="row" style="margin-bottom:5px">

	<div class="col-sm-3 col-xs-12" id="f_loantype_div" class='form-group'> 
		<label><font color="darkred">*</font>Loan Type</label> <!-- Prod_Name -->
		<select class="form-control" id="f_loantype" required>
		</select>
	</div>   

	<div class="col-sm-4 col-xs-12" id="f_amount_div" class='form-group'> 
		<label><font color="darkred">*</font>Amount (PHP)</label> <!-- Prod_Name -->
		<input type="number" class="form-control" id="f_amount" placeholder="Minimum:5,000  Maximum:500,000.00"  required>
	</div>   



</div>
