<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
     

         <li >
            <a href="../../index.php" ><i class="fa fa-home "></i>Dashboard</a>
        </li>
       

        <li>
            <a href="../user/main.php"><i class="fa fa-users "></i>Users</a>
        </li>

        <li>
            <a href="../client/main.php"><i class="fa fa-user "></i>Clients</a>
        </li>


        </li>
    </ul>
                </div>

</nav>
<!-- /. NAV SIDE  -->