 

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->


  <div class="col-sm-3 col-xs-12" id="f_client_div" class='form-group'> 
    <label>REMAINING BALANCE</label> 
    <input class="form-control input-lg" id="f_client" disabled>
  </div>               

   <div class="col-sm-3 col-xs-12" id="f_client_div" class='form-group'> 
    <label>PAYMENT (PER TERM)</label> 
    <input class="form-control input-lg" id="f_client" disabled>
  </div>               
        

</div> <!-- /.row -->   


