 

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

  <div class="col-sm-3 col-xs-12"  class='form-group'> 
    <label>BEGINNING BALANCE</label> 
    <input class="form-control input-lg" id="f_bb" disabled>
  </div>               


  <div class="col-sm-3 col-xs-12"  class='form-group'> 
    <label>REMAINING BALANCE</label> 
    <input class="form-control input-lg" id="f_balance" disabled>
  </div>               

   <div class="col-sm-3 col-xs-12" class='form-group'> 
    <label>PAYMENT (PER TERM)</label> 
    <input class="form-control input-lg" id="f_perterm" disabled>
  </div>               
        

</div> <!-- /.row -->   


